<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Wireguard KeyGen</title>
        <style>
            body {
                font-size: 24px;
            }
            .container {
                margin: 12.5% 25%;
                font-family: sans-serif
            }
            .container a {
                color: black;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>JSON Output</h1>
            <p>Please enter the number of keys you would like generated for you.</p>
            <p>Using the following url format: <a href="/3">/3</a> to generate 3 keys</p>
            
            <h1>Man Pages</h1>
            <p>You can find the man pages to wireguard on <a href="/man">/man</a> or <a href="/wg">/wg</a> or <a href="/wg-quick">/wg-quick</a></p>
            
            <h1>CSV Output</h1>
            <p>For CSV output of the keys complete the following:</p>
            <ul>
                <li>Using the url format: <a href="/csv/3">/csv/3</a> to generate 3 keys</li>
            </ul>
        </div>
    </body>
</html>
