<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Wireguard KeyGen</title>
        <style>
            body {
                font-size: 24px;
            }
            .container {
                margin: 12.5% 25%;
                font-family: sans-serif
            }
            .container a {
                color: black;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <p>Please enter the number of keys you would like generated for you.</p>
            <p>Using the following url format: <a href="/3">/3</a> to generate 3 keys</p>
            <p>You can find the man pages to wireguard on <a href="/man">/man</a> or <a href="/wg">/wg</a> or <a href="/wg-quick">/wg-quick</a></p>
        </div>
    </body>
</html>
